bin/
obj/
.vs/
/SS.png
/FS_Tool/CustomControls/gifs/knobcontrol.jpg
/FS_Tool/FS_Control/CustomControls/Images/MWSnap 2020-10-04, 17_06_16.bmp
/FS_Tool/FS_Control/CustomControls/Images/MWSnap 2020-10-04, 17_06_52.bmp
/FS_Tool/FS_Control/CustomControls/Images/MWSnap 2020-10-04, 17_08_22.bmp
/FS_Tool/FS_Control/CustomControls/Images/round-analog-off-turn-button-set_1284-14084.jpg
